<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Cretale</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <div class="rainbowcat-left roll-in-left"></div>
    <div class="rainbowcat-right roll-in-right"></div>
    <div class="rainbowcat-top roll-in-top"></div>
    <div class="rainbowcat-bottom roll-in-bottom"></div>
    <div class="rainbowcat-right-bottom roll-in-right"></div>
    <div class="rainbowcat-left-bottom roll-in-left"></div>


    <img id="userPhoto" src="https://static-cdn.jtvnw.net/jtv_user_pictures/c173ac46-2fef-468d-86ff-d00521b83259-profile_image-300x300.png" alt="User Photo">
    <a href="https://www.twitch.tv/cretale" id="userName">Cretale</a>
    <div id="links">
        <a class="link" href="https://www.twitch.tv/cretale" target="_blank">😻 Twitch 😻</a>
        <a class="link" href="https://www.youtube.com/channel/UCkKJkHTGe9Q6yxlamqhkDbA/" target="_blank">😻 YouTube 😻</a>
        <a class="link" href="https://discord.com/invite/dqkMDDfErs" target="_blank">😻 Trete unserer Discord Community bei! 😻</a>
        <a class="link" href="https://twitter.com/CretaleG" target="_blank">😻 Twitter 😻</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>
